/* general */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* header */
header{
  margin: 8px;
  height: 50px;
  vertical-align: middle;
  font-size: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

/* main */
main{
  background-color: rgb(246,248,249);
}
.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;

}
.buttons{
  padding: 5px 30px;
  border-bottom:1px solid rgb(246,248,249);
}
.buttons{
  height: 30px;
}
button{
  border-radius: 10%;
}
.task {
  background-color: rgb(071, 173, 241);
  border-color: rgb(071, 173, 241);
  color: white;
}
.section{
  background-color: white;
  border-color: rgb(206,211,215);
  color: rgb(206,211,215);
}