/* general */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */

section{
  height: 50px;
  margin: 8px;
  font-size: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
section img{
  vertical-align: middle;
}
section span{
  line-height: 50px;
}

/* main */
main{
  background-color:rgb(246, 248, 249) ;
}