/* general */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(246, 248, 249) ;
  font-family: Arial, Helvetica, sans-serif;
}
/* header */
header{
  background-color: white;
}
section{
  height: 65px;
  padding: 8px;
  font-size: 30px;
  font-weight: bold;
}
section img{
  vertical-align: middle;
}
section span{
  line-height: 65px;
}
/* main */
.container{
  margin: 50px auto 10px;
  width: 80%;
  max-width: 1200px;
  background-color: white;
  border-radius: 5px;
}
/* buttons section */
.container .buttons{
  padding: 10px 60px 5px;
  border-bottom: 3px solid rgb(246, 248, 249);
}
.buttons button{
  padding: 5px;
  border-radius: 5px;
}
.buttons .task {
  background-color: rgb(071, 179, 241);
  border-color: rgb(071, 179, 241);
  color: white;
}
.buttons .section{
  background-color: white;
  color:rgb(233, 236, 238) ;
  border-color: rgb(233, 236,238);
}

/* List section */
.list{
  padding: 20px 60px;
}

ul > li {
  font-weight: bold;
}
ol{
  padding-bottom: 20px;
}
li{
  padding: 5px;
}

/* crosses and checks */
.list .check , .cross{
  border: 1px solid;
  border-radius: 50%;
  font-size: 10px;
  padding: 2px;
}
.check{
  border-color: green;
  color: green;
}
.cross{
  border-color: red;
  color: red;
}

/* blocks */
.block{
  border-radius: 5px;
  padding: 2px 7px;
  color: white;
}

.block.editorial{
  background-color: rgb(069, 171, 234);
}
.block.qgoals{
  background-color: rgb(156, 114, 228);
}
.block.recruiting{
  background-color: rgb(100, 192, 169);
}
.block.website {
  background-color: rgb(216, 099,161);
}
.block.mobile {
  background-color: rgb(242, 158, 051);
}
.block.sales {
  background-color: rgb(176, 201, 038);
}