/* general */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(246, 248, 249) ;
  font-family: Arial, Helvetica, sans-serif;
}
header,.container,.buttons .section{
  background-color: white;
}

/* header */
header{
  height: 70px;
  padding: 10px 20px;
  font-size: 40px;
  font-weight: 900;
}
header img{
  vertical-align: middle;
  height: 100%;
}
header span{
  vertical-align: middle;
}

/* main */
.container{
  margin: 40px auto 10px;
  width: 80%;
  max-width: 1000px;
  border-radius: 5px;
}

/* buttons section */
.container .buttons{
  padding: 10px 60px 5px;
  border-bottom: 3px solid rgb(246, 248, 249);
}
.buttons button{
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.buttons .task {
  background-color: rgb(071, 179, 241);
  border: 1px solid rgb(071, 179, 241);;
  color: white;
}
.buttons .section{
  color:lightgrey ;
  border: 1px solid lightgrey;
}

/* List section */
.list{
  padding: 20px 60px 0px;
  list-style: none;
}
.list ul, .list li{
  list-style: none;
}
.list ul h3::before{
  content:'\25BE';
}
ol{
  padding-bottom: 20px;
}
li{
  padding: 5px;
}

/* crosses and checks */
.circle::before{
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid;
  border-radius: 50%;
  text-align: center;
  font-size: .8rem;
  line-height: 15px ;
}
.circle.check::before{
  content: '\2713';
  border-color: green;
  color: green;
}
.circle.cross::before{
  content:'✗' ;
  border-color: red;
  color: red;
}

/* blocks */
.block{
  font-size: .7rem;
  border-radius: 10px;
  padding: 5px 8px;
  color: white;
}
.block.editorial{
  background-color: rgb(069, 171, 234);
}
.block.goals{
  background-color: rgb(156, 114, 228);
}
.block.recruiting{
  background-color: rgb(100, 192, 169);
}
.block.website {
  background-color: rgb(216, 099,161);
}
.block.mobile {
  background-color: rgb(242, 158, 051);
}
.block.sales {
  background-color: rgb(176, 201, 038);
}