/* general */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */

section{
  height: 50px;
  margin: 8px;
  font-size: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
section img{
  vertical-align: middle;
}
section span{
  line-height: 50px;
}

/* main */
main{
  background-color:rgb(246, 248, 249) ;
}
.container{
  margin: auto;
  width: 80%;
  max-width: 1200px;
  background-color: white;
  border-radius: 5px;
}
.buttons{
  padding: 10px 60px 5px;
  border-bottom: 1px solid rgb(246, 248, 249);
}
button{
  padding: 5px;
  border-radius: 5px;
}
.buttons .task {
  background-color: rgb(071, 179, 241);
  border-color: rgb(071, 179, 241);
  color: white;
}
.buttons .section{
  background-color: white;
  color:rgb(233, 236, 238) ;
  border-color: rgb(233, 236,238);
}
.list{
  padding: 20px 60px;
}
.list .check , .cross{
  border: 1px solid;
  border-radius: 50%;
  width: 30px;
  font-size: 10px;
  padding: 2px;
}
.check{
  border-color: green;
  color: green;
}
.cross{
  border-color: red;
  color: red;
}
.block{

  border-radius: 5px;
  padding: 2px 7px;
  color: white;
}
ol{
  padding-bottom: 20px;
}
li{
  padding: 5px;
}
.block.editorial{
  background-color: rgb(069, 171, 234);
}
.block.qgoals{
  background-color: rgb(156, 114, 228);
}
.block.recruiting{
  background-color: rgb(100, 192, 169);
}
.block.website {
  background-color: rgb(216, 099,161);
}
.block.mobile {
  background-color: rgb(242, 158, 051);
}
.block.sales {
  background-color: rgb(176, 201, 038);
}